<section style="background-color:  rgb(234, 237, 237); min-height: 100vh;"  >
    <div class="container mt-4">
        <div class="row">
            <div  style="margin: auto; max-width: 600px;"  >
                <h2 class="text-center mt-5" style="font-weight: bold;" >Edit a Product</h2>
                <form action="/admin/editProduct/{{product._id}}" method="POST" enctype="multipart/form-data">
                    <label for="" >Name</label>
                    <input type="text" name="name" class="form-control" value="{{product.name}}" >

                    <label for="" >Category</label>
                    <input type="text" name="category" class="form-control" value=" {{product.category}}" >

                    {{!-- <label for="" >Price</label>
                    <input type="number" name="price" class="form-control" value=" {{product.price}}" > --}}

                    <label for="" >Description</label>
                    <input type="text" name="description" class="form-control" value=" {{product.description}}" >

                    <label for="" >Image</label>
                    <input type="file" name="image" class="form-control" >

                    <button type="submit" class="btn btn-primary" style="margin: 1rem auto; display: block;" >Edit Product</button>
                </form>
            </div>
        </div>
    </div>
</section>